<div class="container">
  <div [hidden]="submitted">
    <h1>Receip Form</h1>
    <form (ngSubmit)="onSubmit()" #receipForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title"
               required
               [(ngModel)]="model.title" name="title"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
        <label for="instruction">Instruction</label>
        <input type="textarea" class="form-control" id="instruction"
               required
               [(ngModel)]="model.instruction" name="instruction"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!receipForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newReceip(); receipForm.reset()">New Receip</button>
      <i>with</i> reset

      &nbsp;&nbsp;
      <button type="button" class="btn btn-default" (click)="newReceip()">New Receip</button>
      <i>without</i> reset
    </form>
  </div>
</div>
