<div class="container">
  <div [hidden]="submitted">
    <h1>Person Form</h1>
    <form (ngSubmit)="onSubmit()" #personForm="ngForm">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname"
               required
               [(ngModel)]="model.firstname" name="firstname"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname"
               required
               [(ngModel)]="model.lastname" name="lastname"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login"
               required
               [(ngModel)]="model.login" name="login"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password"
               required
               [(ngModel)]="model.password" name="password"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
        <label for="role">Role</label>
        <select id="role"
                required
                [(ngModel)]="model.role" name="role"
                >
          <option [ngValue]="null" disabled>Select role</option>
          <option *ngFor="let role of roles" [ngValue]="role.id">{{role.name}}</option>
        </select>
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newPerson(); personForm.reset()">New Receip</button>
      <i>with</i> reset

      &nbsp;&nbsp;
      <button type="button" class="btn btn-default" (click)="newPerson()">New Receip</button>
      <i>without</i> reset
    </form>
  </div>
</div>
